@mixin flexbox($row, $justify-content) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: $justify-content;
  @if $row == true {
    flex-direction: row;
  }
}

@mixin transition_duration($property) {
  -webkit-transition-duration: $property;
  -o-transition-duration: $property;
  transition-duration: $property;
}

@mixin mq($width, $orientation) {
  @if $orientation == false {
    @media only screen and (min-width: $width) {
      @content;
    }
  }
  @else {
    @media only screen and (min-width: $width) and (orientation: $orientation) {
      @content;
    }
  }
}