@import 'variables';
@import 'mixins';
@import 'extends';

.js {
  display: none;
}

body {
  margin: 40px 12px 12px 12px;

  &:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $primary-color;
  }
}

header h1 {
  position: fixed;
  top: 14px;
  left: 20px;
  font-size: 1.75em;
  text-align: center;
  font-weight: 300;
  margin-top: 0px;
  margin-left: 0;
  color: $text-light-color;
}

nav {
  @extend %shared-nav;
  @include flexbox(false, flex-end);
}

#slide:checked~.toggle .fa-bars::before {
  content: "\f061";
}

.fa-bars, .fa-arrow-right {
  font-size: 1em;
}

#slide:checked nav {
  right: 0;
}

.pattern {
  margin: auto;
  width: 100%;
}


@media only screen and (min-width : 1224px) {
  body {
    margin: 50px auto 12px auto;
  }

  .hobby {
    padding: 6px;
  }

  .fa-bars {
    font-size: 0;
  }

  #slide {
    display: none;
  }
  
  .toggle { 
    display: none;
  }

  nav {
    @include flexbox(true, justify-content);
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    transition: right;
    background: transparent;
    transition-duration: 1s;
    width: auto;
  }

  nav li {
    display: inline-block;
    margin-right: 2em;
  }

  .fa-arrow-right {
    font-size: 0;
  }

  nav ul {
    margin: 0;
  }

  nav a {
    color: $text-light-color;
    &:hover {
      color: $text-dark-color;
    }
  }

}